* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/image-like.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5;
    font: 14px sans-serif;
    color: #777;
}

.container {
    margin-top: 80px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list ul {
    margin-top: 40px;
}

.list ul li {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    list-style-type: none;
}

.container-list h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.container-form {
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input {
    margin-top: 20px;
    width: 280px;
    height: 40px;
    color: white;
    border-radius: 20px;
    background-color: #3A354C;
}

.form button {
    width: 280px;
    height: 40px;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form label {
    font-size: 14px;
    color: white;
}

.container-list {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: 45px;
}

.all-modal {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 9998;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.box-modal {
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
}

.w-500 {
    width: 500px;
}

.row {
    width: 100% !important;
    float: left;
}

.center {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.bt-close-link {
    text-decoration: underline;
    background-color: transparent;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none !important;
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.bt-close-link:hover {
    opacity: 0.7
}

.bt-close-modal {
    width: 15px;
    height: 15px;
}

.title-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}